* {
  font-family: Arial, sans-serif;
}

html {
  margin: 0;
}

.app-header {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.app-body {
  margin: 0 2%;
  display: flex;
}

.politica-de-privacidade {
  margin: 50px 3%;
}

.termos-de-uso {
  margin: 0 3%;
}

.app-body > * {
  font-size: larger;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

a, a:visited {
  color: blue;
}

.app-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-logo {
  border-radius: 5%;
}